.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

nav {
  margin: 10px;
  margin-left: 2em;
  margin-right: 2em;
  padding: 0;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
